/*
Natinal College of Ireland
Module: Web design and client scripting
Author:
Daniel Gonzalez, student number: 21111383

*/

.tablebridge{
  position: center;
  text-align: center;
  padding-left: 10%;
  padding-top:15%;
  padding-bottom: 15%;
  width: 90%;
  height: 80%;
}
