

/* Start of classes for content*/

/* General format*/
body{
	margin:0;
	line-height: 1.5;
}

*{
	box-sizing: border-box;
	margin:0;
}

/* all divs*/
.border {
		border: solid black;
		border-radius: 30px;
		padding: 10px; 
		width: 75%;
		margin: auto;
		border-width: 1px;
		background-color: #f8f9f6;
		text-align: justify;
		 }

/* Background*/
.first{background-color: #dae1ea;
		padding: 20px;

}

/* Buttons linking web pages*/
.button {
		  background-color: #dae1ea;
		  border-radius: 30px;
		  border: solid black;
		  color: black;
		  border-width: 1px;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		}


/* First div with images and buttons*/
.headings{
		border-radius: 30px;
		padding: 10px; 
		width: 75%;
		margin: auto;
		border-width: 1px;
		background-color: #dae1ea;
		text-align: justify;}


/* the_2019-2021_Bitcoin_Cycle.html chart display*/
#myDiv1{
		position: center;
		margin: 70px 100px;
}


/* btc_history.html chart display*/
#myDiv{
		
		position: center;
		margin: 70px 200px;
}


/* Distinctive paragraphs for webpage The History of Bitcoin*/
#p{
	border: solid black;
	border-width: 1px;
	color: black;
	background-color: #dae1ea;
	text-align: center;
	border-radius: 30px;
	margin-left: 50px;
	margin-right: 90px;
	padding: 10px;
	font-family: arial;	
}

#p1{
	border: solid black;
	border-width: 1px;
	color: black;
	background-color: #dae1ea;
	text-align: justify;
	border-radius: 30px;
	margin-left: 50px;
	margin-right: 90px;
	padding: 10px;
	font-family: arial;	
}

/* End of classed for content*/



/* Start of classed for log in pop up window
adapted from: https://www.youtube.com/watch?v=5FNNaYzb4GE&list=WL&index=7*/

/* First div for the background*/
.login-popup{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color:rgba(0,0,0,0.6);
		visibility: hidden;
		opacity: 0;
		transition: all 1s ease;
}


.login-popup.show{
	visibility:visible;
	opacity: 1;
}

/* Log in box inside previous class*/
.login-popup .box{
	background-color: #dae1ea;
	border-radius: 30px;
	width: 750px;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	transition: all 1s ease;
}


/* Visibility transition, linked to function showPopup()*/
.login-popup.show .box{
	opacity: 1;
	margin-left: 0;
}

/* Area for the image inside log in box*/
.login-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Box for log in image on the left*/
.login-popup .box .img-area .img{
	position: absolute;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	background-image: url('images/login.jpeg');
	background-size: cover;
	background-position: center;
}

.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:40px 30px;
}

/* Welcome! text*/
.login-popup .box .form h1{
	font-size: 30px;
	justify-content: center;
	margin-left: 80px;

}

/* Log in verification message*/
#verification{
	font-size: 20px;
	justify-content: center;
	margin-left: 70px;

}

/* Input boxes*/
.login-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border:none;
	border-bottom:1px solid #cccccc;
	font-size: 15px;
	color:#000000;
}

/* Log in button*/
.login-popup .box .form .btn{
	width: 100%;
	background-color: #dae1ea;
	margin-top:40px;
	height: 45px;
	border: solid black;
	border-width: .5px;
	border-radius: 30px;
	font-size: 15px;
	color: black;
	cursor: pointer;
}

/* X-close click*/
.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 30px;
	cursor: pointer;
}
/* End of classed for log in pop up window*/
	
		